# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/


# Environment variables
.env
config/.env


# UV
.uv/
.python-version

# Airflow
logs/
airflow.db
airflow-webserver.pid
*.log

# Airflow temp files
data/temp_data.parquet

# Docker
*.pid
*.sock

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Database
*.sqlite
*.db

# Parquet / CSV / Data
data/*.csv
data/*.parquet
data/*.json

# Build / dist
build/
dist/
*.egg-info/
